* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background-color: #240808;
    height: 80px;
    width: 100%;
    position: relative;
}

.enlace {
    position: absolute;
    padding: 10px;
}

.navbar-logo {
    margin-top: 5px;
    max-width: 100%;
    height: auto;
    max-height: 50px;
}
nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li i {
    color: #1ac723;
}

li a.active, li a:hover {
    border: 1px solid #f8f4f4;
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: px952) {
    .enlace {
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #686866;
        top: 80px;
        left: -100%;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul li i {
        color: #0a0a0a;
        margin-left: 20px;
    }

    li a.active, li a:hover {
        background: none;
        color: rgb(32, 32, 32);
    }
    
    li a.active, li a:hover {
        border: none;
        border-radius: none;
        transition: 0.5s;
    }

    #check:checked ~ ul {
        left: 0;
    }
}